Package: deepin-compatibility-mode
Version: 0.1.1
Section: misc
Priority: optional
Depends: distrobox, jq, libnotify-bin, podman
Maintainer: Chen Linxuan <me@black-desk.cn>
Architecture: amd64
Description: distrobox wrapper for install and running debs inside a v20.8 container
